# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

bin/Debug/

libs/lapack-blas_lib_win64/

.vs/QAquifolium/v16/

debug/qmake/

release/qmake/

*.tlog

x64/Debug/qmake/

x64/Release/qmake/

bin/Release/

QAquifolium.vcxproj.filters

x64/Debug/

*.obj

*.exe

*.log

.vs/OpenHydroQual/v16/

x64/Release/

resources/Icons/Google-Noto-Emoji-Symbols-73016-potable-water.ico

bin/

QAquifolium.vcxproj.user

modeled.txt

QAquifolium.vcxproj

.DS_Store

Ubuntu_setup/

.vs/OpenHydroQual/FileContentIndex/

.vs/OpenHydroQual/v17/

*.user

bin-console/Debug/

bin-cosole/Release/

terminal/build-TOpenHydroQual-Qt_6_3_1_for_macOS-Debug/

terminal/build-TOpenHydroQual-Replacement_for_Desktop_Qt_5_15_2_clang_64bit-Debug/

*.recipe

terminal/TOpenHydroQual/debug/qmake/temp/

terminal/TOpenHydroQual/release/

terminal/TOpenHydroQual/.qtc_clangd/.cache/clangd/index/

terminal/TOpenHydroQual/.qtc_clangd/

terminal/TOpenHydroQual/build/.qtc_clangd/.cache/clangd/index/

terminal/TOpenHydroQual/build/.qtc_clangd/

terminal/TOpenHydroQual/build/debug/

terminal/TOpenHydroQual/build/release/

ModelWizard/x64/Debug/qmake/

ModelWizard/x64/Release/qmake/temp/

ModelWizard/x64/Release/qmake/

ModelWizard/build-ModelWizard-Desktop_Qt_5_15_2_clang_64bit-Debug/.qm/

ModelWizard/build-ModelWizard-Desktop_Qt_5_15_2_clang_64bit-Debug/

build-ModelWizard-Desktop_Qt_5_15_2_GCC_64bit-Debug/.qm/

build-ModelWizard-Desktop_Qt_5_15_2_GCC_64bit-Debug/

bin-Wizard/Debug/

bin-Wizard/Release/

ModelWizard/build-ModelWizard-Desktop_Qt_5_15_2_clang_64bit-Release/.qtc_clangd/.cache/clangd/index/

wizard-bin/Debug/

wizard-bin/Release/

ModelWizard/build-ModelWizard-Desktop_Qt_5_15_2_clang_64bit-Release/.qtc_clangd/

ModelWizard/x64/Debug/

ModelWizard/build-ModelWizard-Replacement_for_Qt_6_3_1_for_macOS-Debug/.qm/

ModelWizard/build-ModelWizard-Replacement_for_Qt_6_3_1_for_macOS-Debug/.qtc_clangd/.cache/clangd/index/

ModelWizard/build-ModelWizard-Replacement_for_Qt_6_3_1_for_macOS-Debug/

ModelWizard/build-ModelWizard-Desktop_Qt_5_15_2_clang_64bit-Profile/.qm/

ModelWizard/build-ModelWizard-Desktop_Qt_5_15_2_clang_64bit-Profile/

*.qm

ModelWizard/build-ModelWizard-Replacement_for_Qt_6_3_1_for_macOS-Profile/

ModelWizard/build-ModelWizard-Replacement_for_Qt_6_3_1_for_macOS-Release/

model_wizard_bin/debug/

to_be_sorted.txt

build-ModelWizard-Desktop_Qt_5_15_2_GCC_64bit-Release/.qtc_clangd/.cache/clangd/index/

build-ModelWizard-Desktop_Qt_5_15_2_GCC_64bit-Release/.qtc_clangd/

wizard_bin/debug/.qtc_clangd/.cache/clangd/index/

wizard_bin/release/.qtc_clangd/.cache/clangd/index/

wizard_bin/debug/.qtc_clangd/

wizard_bin/release/
