# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

bin/Debug/

libs/lapack-blas_lib_win64/

.vs/QAquifolium/v16/

debug/qmake/

release/qmake/

*.tlog

x64/Debug/qmake/

x64/Release/qmake/

bin/Release/

QAquifolium.vcxproj.filters

x64/Debug/

*.obj

*.exe

*.log

.vs/OpenHydroQual/v16/

x64/Release/

resources/Icons/Google-Noto-Emoji-Symbols-73016-potable-water.ico

bin/

QAquifolium.vcxproj.user

modeled.txt

QAquifolium.vcxproj

.DS_Store

Ubuntu_setup/
